:root {

/* Colors: */
--unnamed-color-707070: #707070;
---828fad_texto_off: #828FAD;
--unnamed-color-eceff7: #ECEFF7;
--unnamed-color-edf3ff: #EDF3FF;
--black_-181e27_titulo-de-inputs: #181E27;
--black_-191e26_íconos: #191E26;
--red_-ff453e: #FF453E;
--blue_-04004b: #04004B;
--blue_-f5f7fb_fondos: #F5F7FB;
--unnamed-color-91cd5d: #91CD5D;
--green_-00cf30_check: #00CF30;
--blue_-5dcacd: #5DCACD;
--blue_-00cdcf: #00CDCF;
--unnamed-color-e6feff: #E6FEFF;
--gray_-7e7e7e: #7E7E7E;
--gray_-e3e2e2: #E3E2E2;
--unnamed-color-ffffff: #FFFFFF;

/* Font/text values */
--unnamed-font-family-montserrat: Montserrat;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-600: 600px;
--unnamed-font-weight-bold: bold;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-16: 16px;
--unnamed-font-size-24: 24px;
--unnamed-font-size-42: 42px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-19: 19px;
--unnamed-line-spacing-29: 29px;
--unnamed-line-spacing-52: 52px;
}

/* Character Styles */
.montserrat-—-16pt-—-texto-off {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-19);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(---828fad_texto_off);
}
.montserrat-—-42pt-—-título-inicio {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-42);
line-height: var(--unnamed-line-spacing-52);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.montserrat-—-24pt-—-titulos-principales {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-29);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--blue_-04004b);
}
.montserrat-—-16pt-—-titulos-inputs {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-19);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--black_-181e27_titulo-de-inputs);
}
.montserrat-—-16pt-—-texto-off-inputs {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-19);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--gray_-7e7e7e);
}
.montserrat-—-16pt-—-texto-on-inputs {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-19);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--blue_-04004b);
}