@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

.padre .hijo{
    margin-top: 138px;
    left: 168px;
    margin-inline: auto;
    width: 100%;
    max-width: 944px;
    height: 524px;
    overflow: auto;
    text-align: center;
}

.padre .texto1{font-size: 24px;}

.padre .texto2{
    font-size: 24px;
    margin-top: 20px ;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
}

.img1{margin-top: 30px;}

.boton .texto3{color: #ffff;}

.boton {
    margin-top: 54.76px;
    width: 368px;
    height: 48px;
    background: transparent linear-gradient(278deg, var(--red_-ff453e) 0%, #FF5B64 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(278deg, #FF453E 0%, #FF5B64 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #A801015F;
    border-radius: 24px;
    opacity: 1;
    border: none;
}

*{font-family: sans-serif;}
